# ==========================================================================
# THƯ VIỆN CHÍNH
# ==========================================================================
Flask==3.0.3
gunicorn==22.0.0

# ==========================================================================
# BIẾN MÔI TRƯỜNG
# ==========================================================================
python-dotenv==1.0.1

# ==========================================================================
# XỬ LÝ YÊU CẦU
# ==========================================================================
Werkzeug==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2

# ==========================================================================
# THƯ VIỆN PHỤ THUỘC
# ==========================================================================
certifi==2024.7.4
charset-normalizer==3.3.2
idna==3.7
requests==2.32.3
urllib3==2.2.2
